.App {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #61dafb;
  margin-top: 20px;
}

.header img {
  width: 70px;
  height: 70px;
  margin: 10px 10px;
}

.elementFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.aside {
  background-color: cornflowerblue;
  width: 300px;
  height: 700px;
  padding: 10px 10px;
}

.aside div {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}

.aside_settings {
  margin-top: 50px;
}

.main_user {
  margin-top: 20px;
}

.main_user img {
  width: 100px;
  height: 100px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul li {
  list-style-type: armenian;
}